.tmmegamenu_item.it_87565369.top-level-menu-li:hover  { border-bottom-color:#c80909;border-bottom-style:solid;border-bottom-width:3px;}
.tmmegamenu_item.it_87565369.top-level-menu-li.sfHover, .it_87565369.tmmegamenu_item.top-level-menu-li.sfHoverForce  { border-bottom-color:#c80909;border-bottom-style:solid;border-bottom-width:3px;}
