/*
	hook/snippets-review.tpl
*/
#gsr .badge-colLeft, #gsr .badge-colRight, #gsr .badge-wizard, #gsr .badge-top, #gsr .badge-bottom {color: black; overflow: hidden !important;}
#gsr .badge-colLeft, #gsr .badge-colRight, #gsr .badge-wizard, #gsr .badge-top, #gsr .badge-bottom a {color: #555454;cursor: pointer !important;}
#gsr .badge-colLeft, #gsr .badge-colRight {position: relative;color: #333; margin: 10px 0 !important;}
#gsr .badge-colLeft strong.heading, #gsr .badge-colRight strong.heading {display: block; width: 100%; font: 600 18px/22px "Open Sans", sans-serif; color: #555454; background: #f6f6f6; border-top: 5px solid #333333; text-transform: uppercase; padding: 14px 5px 17px 20px; margin-bottom: 20px;}
#gsr .badge-wizard {z-index: 1000; color: #333; background: #f3f3f3; border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin: 10px 0 !important;}
#gsr .badge-bottom {color: #333; position: fixed; bottom: 10px; left: 10px; right: 10px; overflow: auto; background: #f3f3f3; border: 1px solid #ddd; border-radius: 5px; padding: 10px; z-index: 1000; text-align: center;}
#gsr .badge-top, #gsr .badge-home {color: #333; position: fixed; bottom: -18px; left: 10px; right: 10px; overflow: auto; background: #f3f3f3; border: 1px solid #ddd; border-radius: 5px; padding: 10px; text-align: center;} { color: #333; position: fixed; bottom: -18px; left: 10px; right: 10px; overflow: auto; background: #f3f3f3; border: 1px solid #ddd; border-radius: 5px; padding: 10px; text-align: center;}
#gsr .badge-bottom div.product-snippets {display:inline-block; float:left; line-height:20px; vertical-align: middle; margin-right: 20px; text-align: left;}
#gsr .badge-top div.product-snippets, #gsr .badge-home div.product-snippets {display:inline-block; float:left; line-height:20px; vertical-align: middle; margin-right: 20px; text-align: left;}
#gsr .badge-bottom div.product-snippets {float:none; display:inline;}
#gsr .badge-top div.product-snippets, #gsr .badge-home div.product-snippets {float:none; display:inline;}
#gsr .badge-bottom {
	color:#333; background:#F3F3F3; position:relative; width:100%; padding:10px 0; left:0; border:none; clear:both; margin-bottom:-10px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; border-top: 1px solid #D9D9D9;
}
#gsr .badge-top {
	color:#333; background:#F3F3F3; position:relative; xpadding:5px 0 5px 0; left:0; border:none; border-bottom: 3px solid #E9E9E9; clear:both; margin: 5px 15px;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}
#gsr .badge-home {
	color:#333; background:#F3F3F3; position:relative; xpadding:5px 0 5px 0; left:0; border:none; border-bottom: 3px solid #E9E9E9; clear:both; margin: 5px 0 5px 0;
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
}
#gsr .badge-home {border: none;}
#gsr .badge-bottom {background: none; border:0; color: inherit; border-top: 1px solid #515151; margin: 15px 15px 0 15px; padding: 25px 0 0; width: auto;}
#gsr div.product-snippets {color:#666; font-size: 13px}

/*
	hook/snippets-review.tpl
*/
#gsr span.badge-stars {height: 13px; display: inline-block;}
#gsr span.badge-stars .font-weight {font-weight: bold;}
#gsr a.badge-reviews-link {font-size: 10pt !important;font-weight: 600 !important;}
#gsr a.badge-reviews-link-br {font-size: 10pt !important;font-weight: 600 !important; float: right; padding-top: 10px;padding-right: 5px;}

#footer .block_various_links {min-height:40px;}