
/*----BO----*/

#button-wizard {
  width: 100%;
  text-align : center;
  padding : 50px 0;
}

.ui-switchbutton.ui-switchbutton-default{
	background : none !important;
	border : none !important;
}

#ispro_ctn{
	float : right;
	position : relative; 
	z-index :2 ;
}
#ispro_lbl{
	display : inline-block;
}

.abg_bo_indent{
	margin-left:25px;
}
.pm_sort_panel li{
	height:  auto !important;
}
#bg_color_gradient{
	display : none;
}
.abg_advice{
	border : solid 1px #9e965d;
	background-color: #f5eb9d;
	padding : 4px;
}

p#groupInformations {
	font-weight: bold;
	line-height: 30px;
}

div#globalSyncContainer {
	text-align: center;
}
p#progressSyncAllInformation {
	text-align: left !important;
}

div#deleteAllContainer, div#syncEditorialContainer, div#syncCMSPagesContainer, div#syncProductContainer {
    background: url("../img/sub_black_accept.png") no-repeat scroll right top transparent;
    padding-right: 75px;
	min-height: 70px;
}
div#deleteAllContainer.taskDone, div#syncEditorialContainer.taskDone, div#syncCMSPagesContainer.taskDone, div#syncProductContainer.taskDone {
    background: url("../img/sub_blue_accept.png") no-repeat scroll right top transparent;
}

a.synchroniseallproducts, a.synchroniseallcmspages, a.synchroniseeditorial, a.removealllinks  {
    line-height: 30px;
    width: 200px;
	font-weight: bold !important;
}
a.synchroniseeverything {
	font-size: 16px !important;
    line-height: 38px;
    width: 180px;
	font-weight: bold !important;
    color: #008acf !important;
}

a.removealllinks {
    color: red !important;
}

div#groupCMSZone, div#groupProductZone { display: none; }
p#progressDeleteAllInformation {
	line-height: 24px;
	padding-left: 30px;
	font-weight: bold;
	background: url('../img/loader.gif') no-repeat left top;
	margin: 10px 0 0 0 !important
}


.category-tree-table {
    float: left;
    margin-top: 5px;
}

.dynamicTextarea {
	height:350px;
	width:600px;
	background:#f3f3f3;
	border:1px solid #ccc;
	padding:5px;
	margin-left:5px;
	float:left;
	position:relative;
}

.codeEditButton{
	height:350px;
	width:290px;
	float:left;
	position:relative;
	margin-left:10px;
	line-height:25px;
}

.highlight{background-color: #D9D9D9!important;color:#000;}

.button_group{display:none;}

.button_group_category{
	height: 50px;
}
.button_group_product{
	height: 50px;
}
.button_group_customer{
	height: 105px;
}
.button_group_cart{
	height: 105px;
}
.button_group_order{
	height: 50px;
}
.checkBoxOverflow{
	border:1px solid #CCCCCC;
	width:293px;
	padding:2px;
}

select#multiselect{clear:both!important;}

.button_to_add{
	float:left;
	margin-left:2px;
}

a.tracker_add_button{
	padding-left: 5px;
	display:none;
}
a.tracker_add_button_conf{
	line-height: 17px;
	clear:both;
	margin:3px 0;
}

.CodeMirror-scroll{
	line-height:25px;
	font-size:15px;
	height:350px!important;
}
.CodeMirror-atw {position:relative;padding:0!important;}
.CodeMirror-atw img {
position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000;
}
.category_picker{
	display:visible;
	width:auto;
	clear:both;
}
span.button_id_customer { clear: both; }
span.button_total_with_shipping_with_tax{clear: both;}
span.button_total_with_shipping_without_tax{clear: both;}
.ui-multiselect{width:615px!important;}
.selected{width:304px!important;}
.available{width:310px!important;}



p#progressSyncProductRemainingTime {
	float: left;
	margin-left: 15px;
	line-height: 41px;
	font-weight: bold;
}
p#progressSyncProduct { float: left; }


.progressBar{
	width:216px;
	height:41px;
	background:url(../img/bg_bar.gif) no-repeat 0 0;
	position:relative;
}
.progressBar span{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../img/bar.gif) no-repeat 0 0;
	top:8px;
	left:8px;
	overflow:hidden;
	text-indent:-8000px;
}
.progressBar em{
	position:absolute;
	display:block;
	width:200px;
	height:25px;
	background:url(../img/bg_cover.gif) repeat-x 0 0;
	top:0;
}
.skip a{
	color:#54b83d !important;
	font-size : 12px;
	}
.skip{
	display :block;
	margin : 5px auto;
	width : 150px;
	font-weight : bold;
	font-style : italic ;
}
.skip a:hover{
	color :orange !important;
}

#groupForm fieldset{
	margin-top : 30px;
}

/* New panel : cs_modules_bottom */
.pm_panel_cs_modules_bottom {margin-top:15px;border:1px solid #B6B6B6!important; padding: 0 18px; width: 535px; float: left; }
.pm_panel_cs_modules_bottom iframe { overflow: hidden; height: 178px; width: 100%; border: 0; padding: 0; margin: 0; }
/* Copyright and links */
.pm_panel_bottom { position: relative; margin-top:15px; border:1px solid #B6B6B6!important; width:306px; height:230px; float:left; margin-left: 13px; padding: 0 18px; }
.pm_panel_bottom .ui-input-pm { margin-top:3px; }
ul.pm_links_block { list-style: none; margin: 0; padding: 0; }
ul.pm_links_block li { margin: 10px; padding: 0; }
ul.pm_links_block li.pm_get_started_link { margin: 15px 10px !important; }
ul.pm_links_block li.pm_get_started_link a {font-weight: bold;padding: 5px 0;display: block;text-align: center;border:1px solid #AAA;cursor:pointer;color:#444;text-shadow:white 0 1px 2px;background:#e5e5e5;background:-moz-linear-gradient(top, #e5e5e5 0%, #f4f4f4 49%, #e5e5e5 50%, #f4f4f4 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(49%,#f4f4f4), color-stop(50%,#e5e5e5), color-stop(100%,#f4f4f4));background:-webkit-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);background:-o-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);background:-ms-linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f4f4f4',GradientType=0 );background:linear-gradient(top, #e5e5e5 0%,#f4f4f4 49%,#e5e5e5 50%,#f4f4f4 100%);transition:.3s ease-in-out;-webkit-transition:.3s ease-in-out;-moz-transition:.3s ease-in-out;-webkit-box-shadow:0 1px 4px #ddd, inset 0 1px 0 #fff;-moz-box-shadow:0 1px 4px #ddd, inset 0 1px 0 #fff;box-shadow:0 1px 4px #ddd, inset 0 1px 0 #fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
ul.pm_links_block li.pm_get_started_link a:hover {-webkit-box-shadow:0 1px 4px #aaa, inset 0 1px 0 white;-moz-box-shadow:0 1px 4px #aaa, inset 0 1px 0 white;box-shadow:0 1px 4px #aaa, inset 0 1px 0 white;-webkit-transition-duration:200ms,200ms,200ms;background:#e0e0e0;background:-moz-linear-gradient(top, #e0e0e0 0%, #e8e8e8 49%, #e0e0e0 50%, #e8e8e8 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(49%,#e8e8e8), color-stop(50%,#e0e0e0), color-stop(100%,#e8e8e8));background:-webkit-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%);background:-o-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%);background:-ms-linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e8e8e8',GradientType=0 );background:linear-gradient(top, #e0e0e0 0%,#e8e8e8 49%,#e0e0e0 50%,#e8e8e8 100%);border:1px #aaa solid;color:#444!important;}
.pm_copy_block { position: absolute; right: 10px; bottom: 0; }
.pm_copy_block img { max-width:150px; }