.ap5-admin-hide {
	display: none;
}

a#link-Images, a#link-Warehouses, a#link-Pack, a#link-VirtualProduct, a#link-Prices, a#link-Combinations, a#link-Quantities, a#link-Customization, a#link-Attachments, a#link-Suppliers {
	display: none;
}

table.ap5_combinationsTable {
	width: 100% !important;
}

td.ap5_productPrice-container {
	white-space: nowrap;
}
td.ap5_productPrice-container span.ap5-pack-product-original-price {
	text-decoration: line-through;
}

input.ap5_quantity {
	width: 40px !important;
	display: inline !important;
}

select.ap5_reductionType {
	width: 45px !important;
	display: inline !important;
	padding: 0px 4px !important;
	border-left: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

input.ap5_reductionAmount {
	width: 32px !important;
	display: inline !important;
	padding: 0px 4px !important;
	border-right: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

/* PS 1.5 styles */
div.ps-15 .table {
	width: 100%;
	border-collapse: collapse;
}
div.ps-15 #ap5-pack-content-table tbody td {
	vertical-align: middle;
}
div.ps-15 #ap5-pack-content-table tbody tr.highlighted td {
	background-color: #49B2FF;
}
div.ps-15 div.radio label {
	float: none;
	width: inherit;
}
div.ps-15 .badge {
	background-color: #00aff0;
	font-size: 1em;
	font-weight: normal;
	letter-spacing: 0.0625em;
	line-height: inherit;
	padding: 1px 5px;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
}
div.ps-15 .badge.badge-info {
	background-color: #5bc0de;
}
div.ps-15 .badge.badge-success {
	background-color: #79bd3c;
}
div.ps-15 .badge.badge-warning {
	background-color: #f0ad4e;
}
div.ps-15 .badge.badge-danger {
	background-color: #d9534f;
}
div.ps-15 .badge.badge-critical {
	background-color: #b52b27;
}
div.ps-15 input#ap5_pack_content_input {
	width: 500px;
	margin-bottom: 20px;
}