<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mancarousel</name>
            <displayName><![CDATA[Man Carousel]]></displayName>
            <version><![CDATA[0.2]]></version>
            <description><![CDATA[Carrusel fluido de fabricantes para el pie de p&aacute;gina.]]></description>
            <author><![CDATA[www.kik-off.com]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>