	ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #ddd;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1em;
	padding: 0 20px;
	outline: none;
}
html ul.tabs li.active a{color: #FFFFFF; text-decoration: none}
ul.tabs li a:hover {
	background: #f5f5f5;
	text-decoration: none;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background-color: #00aff0;
    border-color: #00aff0;
    color: #fff; 
}
	
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	border: 1px solid #e6e6e6;
    clear: both;
    font-size: 1em;
    padding-top: 20px;
}

.htaccess {
	display:block;
	background:#A3D4E6;
	padding:5px;
	width:100px;
	text-align:center;
	border:1px solid #ccc;
}

.htaccess:hover {
	background:#ccc;
}

div.tab_content table tr td{
	padding: 5px;
}