.tmmegamenu_item.it_09493380.top-level-menu-li  { color:#ffffff;}
.tmmegamenu_item.it_09493380.top-level-badge  { color:#ffffff;background-color:#c80909;}
.tmmegamenu_item.it_59280706.top-level-badge  { color:#ffffff;background-color:#48D1CC;}
.tmmegamenu_item.it_86243289.top-level-menu-li  { color:#ffffff;}
.tmmegamenu_item.it_87565369.top-level-menu-li:hover  { border-bottom-color:#c80909;border-bottom-style:solid;border-bottom-width:3px;}
.tmmegamenu_item.it_87565369.top-level-menu-li.sfHover, .it_87565369.tmmegamenu_item.top-level-menu-li.sfHoverForce  { border-bottom-color:#c80909;border-bottom-style:solid;border-bottom-width:3px;}
